# General
node_modules/

# Android build outputs
android/app/build/
android/build/
android/app/

# APK files
*.apk
*.aab

# NDK/so files
*.so
.DS_Store
android/.DS_Store
android/

# Gradle build artifacts
android/.gradle/
android/app/.cxx/

# Node lock files (optional, only if you want to ignore them)
package-lock.json
ios/